django==5.2.1
djangorestframework==3.16.0
pytest-django==4.9.0
Faker==33.1.0
uvicorn==0.38.0
whitenoise==6.11.0
pillow==12.0.0
model-bakery==1.20.0

# python manage.py makemigrations
# python manage.py migrate

# python manage.py runserver

# cd client
# npm run dev
# текст для теста
